<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tag generator</title>
  </head>

  <body>
    <h1>Flight delay prediction system</h1>
    <form action='/result' method = "POST" id="flight">
      <fieldset>
        <legend>Questions details:</legend>
        Title:<br>
        <input type="text" name="title" size="110"><br>
        Post:<br>
        <textarea name="text" rows="10" cols="90"></textarea>
        
        <br>
        Code:<br>
        <textarea name="code" rows="10" cols="90"></textarea>
        
        <br><br>
        <input type="submit" value="Propose tags !">
      </fieldset>
    </form>
  </body>
</html>